.vs/
bin/
bin-int/

# Files
*.user
*.ini
*.bak
*.pdb
Pistachio/vendor/assimp/assimp-vc143-mt-static.lib
Pistachio/vendor/assimp/assimp-vc143-mtd-static.lib
Editor/Pistachio-Runtime-Profile.json
Editor/Pistachio-Runtime-Profile.json
Editor/Pistachio-Startup-Profile.json
